body {
   overflow-x: hidden;
}

.link {
    text-decoration: none;
    color: #198754;
}

.link:hover {
    color: rgb(22, 82, 22);
}

.span {
    font-weight: bold;
}

.modile-card {
    margin-left: calc(50% - 286px / 2);
}

.anounce {
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    font-family: Roboto;
    box-shadow: 0px 0px 18px #198754;
}

.text {
    font-size: 20px;
    padding-top: 5px;
}

.icon {
    margin-left: 30px;
    width: 50px;
}

.footer_link {
    text-decoration: none;
    color: #bfbebe;
    font-family: Roboto;
    font-size: 23px;
}

.footer_link:hover {
    color: rgb(255, 255, 255);
}

.footer_div {
    font-family: Roboto;
    font-size: 18px;
    color: #bfbebe;
}

.modal1_img{
   display: none;
}

.modal1_img_active {
    display: block;
    width: 100%;
}

.modal1_title {
    text-align: center;
    margin-bottom: 2rem;
}

.details_1:before {
    content: '';
    display: inline-block;
    border: 9px solid transparent;
    border-left: 9px solid #198754;
    margin-bottom: -3px;
    cursor: pointer;
}

.details_1_active:before {
    content: '';
    display: inline-block;
    border: 9px solid transparent;
    margin-bottom: -9px;
    border-top: 9px solid #198754;
    margin-right: 5px;
    cursor: pointer;
}

.modal1_p, .details_1_active, .details_1, .details_2_active, .details_2 {
    font-size: 18px;
}

.modal1_input{
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid #198754;
    margin-top: 1rem;
}



.modal1_img2{
    display: none;
 }
 
 .modal1_img2_active {
     display: block;
     width: 100%;
 }
 
 
 .details_2:before {
     content: '';
     display: inline-block;
     border: 9px solid transparent;
     border-left: 9px solid #198754;
     margin-bottom: -3px;
     cursor: pointer;
 }
 
 .details_2_active:before {
     content: '';
     display: inline-block;
     border: 9px solid transparent;
     margin-bottom: -9px;
     border-top: 9px solid #198754;
     margin-right: 5px;
     cursor: pointer;
 }
 
 .modal1_p{
     margin-top: 1rem;
     margin-bottom: 0rem;
 }

 .hr {
     width: 100%;
     height: 2px;
     background-color: #bfbebe;
     margin-top: 2.5rem;
     margin-bottom: 0.5rem;
 }

 .hr_file {
    width: 100%;
    height: 2px;
    background-color: #bfbebe;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}


 .admin_link {
     text-decoration: none;
     color: white;
     margin-left: 2rem;
     font-size: 18px;
     width: 100%;
 }

 .admin_link:hover {
     color: rgb(218, 218, 218);
 }

 .coursItem {
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    font-family: Roboto;
    box-shadow: 0px 0px 18px #198754;
    margin-top: 1rem;
 }

 .coursItem:nth-child(even) {
     background-color: rgb(231 227 227);
 }

 .coursHeader {
    padding: 10px;
    font-size: 20px;
    
    font-weight: 500;
    box-shadow: 0px 0px 18px #198754;
    border-radius: 20px;
    background-color: rgb(231 227 227);
 }

 .cathItem{
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    font-family: Roboto;
    box-shadow: 0px 0px 18px #198754;
    margin-top: 1rem;
 }

 .cathItem:hover {
     background-color: rgb(231 227 227);
 }

 .cathHead {
    padding: 10px;
    font-size: 20px;
    
    font-weight: 500;
    box-shadow: 0px 0px 18px #198754;
    border-radius: 20px;
    background-color: rgb(231 227 227);
 }

 .cusHead {
    padding: 10px;
    font-size: 20px;
    
    font-weight: 500;
    box-shadow: 0px 0px 18px #198754;
    border-radius: 20px;
    background-color: rgb(231 227 227);
 }

 .cusItem{
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    font-family: Roboto;
    box-shadow: 0px 0px 18px #198754;
    margin-top: 1rem;
 }

 .cusInput {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid #198754;
 }
 .textareat{
    width: 60%;
    padding: 20px;
    border-radius: 15px;
    font-size: 18px;
    border: 2px solid #198754;
    margin-left: 20%;
    height: 25rem;
    font-size: Roboto;
    margin-top: 0.5rem;
 }

 .announ_button {
     margin-left: calc(50% - 97px/2);
     margin-top: 2rem;
 }

 .admItem {
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    font-family: Roboto;
    box-shadow: 0px 0px 18px #198754;
    margin-top: 1rem;
 }

 .admHead{
    padding: 10px;
    font-size: 20px;
    
    font-weight: 500;
    box-shadow: 0px 0px 18px #198754;
    border-radius: 20px;
    background-color: rgb(231 227 227);
    margin-top: 4rem;
 }

 .select_div input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid #198754;
    margin-top: 1rem;
 }

 .select_div {
     width: 60%;
     margin-left: 20%;
 }

 .select {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid #198754;
    margin-top: 3rem;
    margin-bottom: 2rem;
 }

 .print_button {
     margin-left: calc(50% - 97px/2);
     margin-top: 3rem;
 }

 .cath_modal input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid #198754;
    margin-top: 2rem;
 }

 .dogCard {
     margin-top: 3rem;
    border-radius: 15px;
    padding: 2rem 1rem;
    box-shadow: 0px 0px 18px rgb(157 152 152);
 }

 .cath_modal{
     margin-top: 3rem;
 }

 .auth {
     max-width: 40rem;
     min-height: 10rem;
     padding: 2rem;
     box-shadow: 0px 0px 18px #198754;
     border-radius: 20px;
 }

 .auth_div {
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
 }

 .auth input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid #198754;
    margin-top: 2rem;
 }

 .cath_input, .cus_input {
     position: relative;
 }


 .autocomplete {
     position: absolute;
     left: 0;
     top: 70px;
     background-color: white;
     width: 100%;
     list-style: none;
     margin: 0;
     padding: 0;
     border-radius: 15px;
     font-size: 16px;
     box-shadow: 0px 0px 18px #198754;
    z-index: 20;
    max-height: 220px;
    height: auto;
    overflow: auto;
 }

 .cus_ul {
    position: absolute;
    left: 0;
    top: 100px;
    background-color: white;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    font-size: 16px;
    box-shadow: 0px 0px 18px #198754;
   z-index: 20;
   max-height: 220px;
   height: auto;
   overflow: auto;
 }

 .autocomplete_item, .cus_li {
     padding: 10px;
 }

 .autocomplete_item:hover {
     background-color: rgb(218, 218, 218);
     cursor: pointer; 
 }

 .cus_li:hover {
    background-color: rgb(218, 218, 218);
    cursor: pointer; 
}

 .cath_address {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid #198754;
    margin-top: 1rem;
 }

 .text_edit {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
    border: 2px solid #198754;
    font-size: Roboto;
    margin-top: 2rem;
    height: 7rem;
 }

 .pagin a {
     color: #198754;
 }

 .pagin a:hover {
    color: #198754;
 }

 .page-item.active .page-link {
    background: #198754 !important;
    border-color: #198754 !important;
  }
 
.spinner {
    position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
}

.close_img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
        transition:         transform .8s ease-in-out;
}

.close_img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.cath_address_active {
    background-color: rgb(236, 235, 235);
}

.yearInput {
    font-weight: 600;
    border: 2px solid #198754;
    border-radius: 5px;
    width: 60px;
    padding-left: 10px;
}

.nav-link {
    font-size: 15px !important;
}
